<a href="https://colab.research.google.com/github/MaddoSaru/machinelearning-az/blob/master/Plantilla%20de%20Pre%20Procesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Plantilla de Pre Procesado**

**Importar librer√≠as**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

**Importar data sets**

In [ ]:
dataset = pd.read_csv("https://raw.githubusercontent.com/MaddoSaru/machinelearning-az/master/datasets/Part%201%20-%20Data%20Preprocessing/Section%202%20--------------------%20Part%201%20-%20Data%20Preprocessing%20--------------------/Data.csv")
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

**Tratamiento de datos faltantes**

In [ ]:
dataset = dataset.fillna(value = dataset.mean(axis=0), axis = 0)
dataset.head()

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes